mixin portfolio()
  section#portfolio.portfolio.js-portfolio
    .portfolio__inner
      h2.portfolio__title Portfolio
      p.portfolio__descr Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      nav.portfolio__filter
        ul
          li.portfolio__filter-btn.is-selected.js-filter(data-filter='all') All
          li.portfolio__filter-btn.js-filter(data-filter='web') Web design
          li.portfolio__filter-btn.js-filter(data-filter='graphic') Graphic design
          li.portfolio__filter-btn.js-filter(data-filter='flat') Flat design
      ul.portfolio__content
        li.portfolio__item.js-item(data-cat='all flat')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port1.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Flat design
        li.portfolio__item.js-item(data-cat='all web')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port2.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Web design
        li.portfolio__item.js-item(data-cat='all graphic')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port3.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Graphic design
        li.portfolio__item.js-item(data-cat='all graphic web')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port4.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Graphic design
        li.portfolio__item.js-item(data-cat='all graphic flat')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port6.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Flat design
        li.portfolio__item.js-item(data-cat='all web')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port5.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Web design
        li.portfolio__item.js-item(data-cat='all flat web')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port1.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Flat design
        li.portfolio__item.js-item(data-cat='all web')
          a(href='#')
            img.portfolio__item-img.js-lazy(src='static/images/port2.png', alt='')
            .portfolio__item-caption
              span.portfolio__item-title Example title
              span.portfolio__item-cat Web design